@charset "utf-8";
/* CSS Document */

/*** PINTER STYLES ***/
@media print {
* {
	background-image: none;
	width: auto;
}

body, html {
    font-size: 12px;
    font-family: "Trebuchet MS", sans;
    background: #fff;
    color: #000000;
    padding: 0px;
    margin: 1em;
}

#toplinks, #border,
#nav-container,#menu-container,
#content-top, #content-bottom,
#content > div > img{
	display: none; 
}

#logo {
    margin: 0px;
    padding-top: 20px;
    width: 750px;
    margin-left:auto;
    margin-right:auto;
}

#logo img {
    display: block;
    margin: 0px;
}

img {
    border: 0px;
}

#footer {
    margin-top: 1em;
}

a {
	color: #000;
	text-decoration: underline;
}

a > img {
	text-decoration: none;
}

.footer-text {
    font-size: 11px;
    text-align: center;
    margin-top: 1em;
}

}
/*** end of print only css ***/

/*** start of screen only css ***/
@media screen {
/*** BODY ***/
body, html {
    font-size: 12px;
    font-family: tahoma, verdana, arial, sans-serif;
    background: #fff;
    color: #303030;
    background-color: #36053f;
    background-image: url("bg.png");
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
}

a {
    color:#580b60;
}

a:hover {
    color:#a25da9;
}

a.admin {
    color: red;
}

.warning {
    border: 1px solid #A00000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #FFD0D0;
    padding: 4px 4px;
    color: #000000;
}

.success {
    border: 1px solid #008000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #D0FFD0;
    padding: 4px 5px;
    color: black;
}

hr {
    height: 1px;
    border-top: 1px solid #808080;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 30px 0px
}


#bg-gfx {
    background-image: url("bg-gfx.png");
    background-repeat: no-repeat;
    margin: 0px;
}

#page-container {
    width: 750px;
    margin: 0px auto 20px auto;
    position: relative;
}

#logo {
    margin: 0px;
    padding-top: 20px;
    width: 750px;
    margin-left:auto;
    margin-right:auto;
}

#logo img {
    display: block;
    margin: 0px;
}

img {
    border: 0px;
}

/*** ULKOISET LINKIT ALKAA ***/

#toplinks {
    width: 750px;
    height: 40px;
    margin: 0px auto;
}


#toplinks ul {
	list-style-type:none;
    	margin: 0px;
}

#toplinks li {
	float:right;
}

#toplinks li a {
	background:url('arrow.png') no-repeat center bottom;
	display:block;
	padding:15px 15px 13px 15px;
	font: 10px "Tahoma",sans-serif;
	text-decoration:none;
	color:#FFFFFF;
}

#toplinks li a:hover {
	color:#f3b341;
	text-decoration:underline;
}



/*** NAVBAR ALKAA ***/

#nav-container {
    width: 750px;
    height: 46px;
    background: url('navbar.png') no-repeat;
    margin-bottom: 10px;
    position: relative;
}

#nav-container ul {
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    height: 32px;
    margin: 0px;
	margin-top: 16px;
    padding: 0px;
    padding-left: 20px;
    text-indent: 0px;
    float: left;
}

#nav-container li {
    display: inline;
    float: none;
    position: relative;
    /*line-height: 46px;*/
    margin:0px;
    padding: 0px;
    left: 0px;

    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

#nav-container li a {
    display: inline;
    top: 0px;
    padding: 16px 15px 16px 15px;
    /*line-height: 46px;*/
    margin: 0px;
    height: 32px;
    font: bold 11px "Tahoma",sans-seirf;
    text-decoration: none;
    color:#FFFFFF;
}

#nav-container li a:hover {
	background:url('navbar-bg-hover.png') repeat-x left top;
}

#nav-container li.current a {
    background:url('navbar-current.png') no-repeat center top;
    height:46px;
    color:#FFFFFF;
    font-weight: bold;
}

/*** CONTENT ***/

#content-top {
    background-image: url("content-top.png");
    width: 748px;
    height: 15px;
	position: relative;
	top: 0px;
	bottom: auto;
	left: auto;
	right: auto;
	z-index: 100;
}

#content-bottom {
	background-image: url("content-bottom.png");
	background-position: bottom;
	width: 748px;
	height: 15px;
		position: relative;
		top: auto;
		bottom: 0px;
		right: auto;
		left: auto;
		z-index: 90;
}

#content {
	background:#fff;
	padding-left:12px;
	padding-right:12px;
	width: auto; /* from page-container */
	width: 724px;
		position: relative;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		z-index: 50;
	height: auto; /* variabling */
}

#content-center {
	/* this makes wrapper for text and menu area */
	/* like tbody ot tr */
	float: left;
	width: auto; /* from content */
	height: auto; /* from data in this */
	min-height: 400px; /* mininum */
	margin: 10px 0px 10px 0px;
		position: relative;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		z-index: 50;
}

#text-container {
	width:450px;
	height: auto;
	float:left;
	margin: 0px 10px 0px 10px;
		position: relative;
		top: 0px;
		bottom: 0px;
		right: auto;
		left: 0px;
		z-index: 70;
}

h1 {
    font-family: "Trebuchet MS", sans;
    color: #4a0560;
    /*padding-left: 10px; */
    text-align:left;
    font-size:20px;
}

h2 {
    font-family: "Trebuchet MS", sans;
    /*color: #4a0560;*/
    color: black;
    /*padding-left: 10px; */
    text-align:left;
    font-size:15px;
}

/*** OIKEA MENU ALKAA ***/
#border {
	position: absolute;
	right: 220px;
	width: 0px;
	height: auto;
	left: auto;
	top: 5px;
	bottom: 5px;
	z-index: 1000;
	border-left:1px dotted #A5AEC5;
}

#menu-container {
    float:right;
    height: auto; /* from content-center */
    width: 200px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
	position: relative; /* to content-center */
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: auto; /* from width */
	z-index: 60;
}

#menu-container h1 {
    font-family: "Trebuchet MS", sans;
    color:#4a0560;
    text-align:left;
    font-size:17px;
}

#menu-container ul {
	margin: 0px;
	margin-top: 2px;
	margin-bottom: 0px;

	text-indent: 0px;
	padding: 0px;
	padding-left: 14px;
	
	list-style-position: outside;
	list-style-type: none;
	list-style-image: url(menu-list.png);
}

#menu-container > ul {
	padding-left: 28px;
}

#menu-container li{
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	list-style-position: outside;
	list-style-type: none;
	list-style-image:url(menu-list.png);
	line-height:18px;
}

#menu-container  li li{
	list-style-image:url(menu-sub.gif);
}

#menu-container li a {
	font: 12px "Tahoma", sans-serif;
	color: #580b60;
	text-decoration: none;
}

#menu-container li:hover {
	list-style-image:url(menu-list-active.png);
}

#menu-container  li li:hover {
	list-style-image:url(menu-sub-active.gif);
}

#menu-container li a:hover{
	color:#a25da9;
	text-decoration: none;
}

#menu-container li.current {
	list-style-image:url(menu-list-active.png);
}

#menu-container li li.current {
	list-style-image:url(menu-sub-active.gif);
}

#menu-container li a.current {
    font-weight: bold;
/*    text-decoration: none;*/
}


/*** FOOTER ***/

div.blank {
	clear:both;  /* jotta footeri pysyis alhaalla */
}

#footer {
    height: 39px;
    width: 724px;
    position: relative;
    
    
    background: url('footer.png') no-repeat;
}

.footer-left, .footer-right {
	top: 0px;
	position:absolute;
	width: 7px;
	height: 39px;
}

.footer-left {left: 0px;background: url(footer_lr.png) no-repeat 0px 0px;}
.footer-right {right: 0px;background: url(footer_lr.png) no-repeat -7px 0px;}

.footer-text {
    float: left;
    width: 100%;
    display: block;
    color: #828282;
    font-size: 11px;
    padding-top: 12px;
    text-align: center;
    /*border: 1px solid red;*/
}


/*** Front page module ***/

.news h2:first-child {
    margin-top: 0px;
}

.news h2 {
    margin-bottom: .2em;
}

.news p {
    margin-top: 0em;
    margin-bottom: 2em;
}


/*** Poll module ***/
.events h1 {
    font-size: 120%;
}

.poll h2 {
    font-size: 110%;
}

/*** Events module ***/

.events {
    margin-top: 2em; /* V�liaikainen */
}

.events h1 {
    font-size: 120%;
}

.events h2 {
    font-size: 110%;
    margin-bottom: .2em;
}

.events p {
    font-size: 110%;
    margin-top: .2em;
}
/*** end of screen css ***/
}

