@charset "utf-8";
/* CSS Document */

/*** BODY ***/

/*
* {
    padding: 0px;
    margin: 0px;
}
*/

body, html {
    font-size: 12px;
    font-family: tahoma, verdana, arial, sans-serif;
    background: #fff;
    color: #303030;
    background-color: #36053f;
    background-image: url("bg.png");
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
}

a {
    color:#580b60;
}

a:hover {
    color:#a25da9;
}

a.admin {
    color: red;
}

.warning {
    color: red;
}

.success {
    color: #008000;
}

hr {
    height: 1px;
    border-top: 1px solid #808080;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 30px 0px
}


#bg-gfx {
    background-image: url("bg-gfx.png");
    background-repeat: no-repeat;
    margin: 0px;
}

#page-container {
    width: 750px;
    margin: 0px auto 20px auto;
    position: relative;
}

#logo {
    margin: 0px;
    padding-top: 20px;
    width: 750px;
    margin-left:auto;
    margin-right:auto;
}

#logo img {
    display: block;
    margin: 0px;
}



/*** ULKOISET LINKIT ALKAA ***/

#toplinks {
    width: 750px;
    height: 40px;
    margin: 0px auto;
}


#toplinks ul {
	list-style-type:none;
    	margin: 0px;
}

#toplinks li {
	float:right;
}

#toplinks li a {
	background:url('arrow.png') no-repeat center bottom;
	display:block;
	padding:15px 15px 13px 15px;
	font: 10px "Tahoma";
	text-decoration:none;
	color:#FFFFFF;
}

#toplinks li a:hover {
	color:#f3b341;
	text-decoration:underline;
}



/*** NAVBAR ALKAA ***/

#nav-container {
    width: 750px;
    height: 46px;
    background: url('navbar.png') no-repeat;
    margin-bottom: 10px;
    position: relative;
}

#nav-container ul {
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    height: 32px;
    margin: 0;
	margin-top: 16px;
    padding: 0;
    padding-left: 20px;
    text-indent: 0;
    float: left;
}

#nav-container li {
    display: inline;
    float: none;
    position: relative;
    /*line-height: 46px;*/
    margin:0;
    padding: 0;
    left: 0;

    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

#nav-container li a {
    display: inline;
    top: 0;
    padding: 16px 15px 16px 15px;
    /*line-height: 46px;*/
    margin: 0;
    height: 32px;
    font: bold 11px "Tahoma";
    text-decoration: none;
    color:#FFFFFF;
}

#nav-container li a:hover {
	background:url(navbar-bg-hover.png) repeat-x left top;
}

#nav-container li a.current {
	background:url(navbar-current.png) no-repeat center top;
	height:46px;
	color:#FFFFFF;
}



/*** CONTENT ***/

#table-container, #table-container tr, #table-container tr td {
	border: 0;
	padding: 10px 0px 10px 0px;
	border-spacing: 0;
	vertical-align: top;
}
#table-container #td_right {
	border-left:1px dotted #A5AEC5;
}


#content-top {
    background-image: url("content-top.png");
    width: 748px;
    height: 15px;
}

#content-bottom {
	background-image: url("content-bottom.png");
	background-position: bottom;
	width: 748px;
	height: 15px;
}

#content {
	background:#fff;
	width: 724px;
	padding-left:12px;
	padding-right:12px;
	top: 0px;
	bottom: 0px;
	position: relative;
	height: auto;
	min-height: 400px;
}

#content-left {
	width:450px;
	float:left;
	margin: 0px 10px 0px 10px;
	position: relative;
}

h1 {
    font-family: Trebuchet MS;
    color: #4a0560;
    /*padding-left: 10px; */
    text-align:left;
    font-size:20px;
}

h2 {
    font-family: Trebuchet MS;
    /*color: #4a0560;*/
    color: black;
    /*padding-left: 10px; */
    text-align:left;
    font-size:15px;
}


/*** OIKEA MENU ALKAA ***/

#menu-container {
    float:right;
    position: relative;
    /*border-left:1px dotted #A5AEC5;*/
    height: auto;
    min-height: 350px;
    width: 200px;
    margin: 0;
    padding: 0px 10px;
    top: 0px;
    bottom: 0px;
}

#menu-container h1 {
    font-family: Trebuchet MS;
    color:#4a0560;
    text-align:left;
    font-size:17px;
}

#menu-container ul {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 0px;

	text-indent: 0;
	padding: 0;
	padding-left: 14px;
	
	list-style-position: outside;
	/*list-style-type: none;*/
	list-style-image: url(menu-list.png);
	/*height:inherit; *//* miten saan tuosta border-leftistä koko sivun korkusen? */
}

#menu-container > ul {
	padding-left: 28px;
}

#menu-container li{
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-position: outside;
	/*list-style-type: none;*/
	list-style-image:url(menu-list.png);
	line-height:18px;
}

#menu-container li a {
	font: 12px "Tahoma";
	color:#580b60;
}

#menu-container li:hover {
	list-style-image:url(menu-list-active.png);
	line-height:18px;
}

#menu-container li a:hover{
	color:#a25da9;
}

#menu-container li.current {
	list-style-image:url(menu-list-active.png);
}

#menu-container li a.current {
	font-weight: bold;
	text-decoration:none;
}


/*** FOOTER ***/

#blank {
	clear:both;  /* jotta footeri pysyis alhaalla */
}

#footer {
    height: 39px;
    width: 724px;
    position: relative;
    
    background: url('footer.png') no-repeat;
}

.footer-left, .footer-right {
	top: 0;
	position:absolute;
	width: 7px;
	height: 39px;
}

.footer-left {left: 0;background: url(footer_lr.png) no-repeat 0 0;}
.footer-right {right: 0;background: url(footer_lr.png) no-repeat -7px 0;}

.footer-text {
		float: left;
		display: block;
		color: #828282;
		font-size: 11px;
		padding-top: 12px;
}


/*** Front page module ***/

.news h2:first-child {
    margin-top: 0px;
}

.news h2 {
    margin-bottom: .2em;
}

.news p {
    margin-top: 0em;
    margin-bottom: 2em;
}


/*** Poll module ***/
.events h1 {
    font-size: 120%;
}

.poll h2 {
    font-size: 110%;
}

/*** Events module ***/

.events {
    margin-top: 2em; /* V�liaikainen */
}

.events h1 {
    font-size: 120%;
}

.events h2 {
    font-size: 110%;
    margin-bottom: .2em;
}

.events p {
    font-size: 110%;
    margin-top: .2em;
}
